<h1 mat-dialog-title>האתגר:</h1>
<div mat-dialog-content>
  <p>
    <img src="/assets/afikoman.jpeg" />
  </p>
  <p style="margin-bottom: 16px">מצאו בתמונה את האפיקומן ולחצו עליו</p>
  <p class="credit" *ngIf="stopwatch.challenge.photoCredit">
    <span>צילום: </span>
    <a [href]="stopwatch.challenge.photoCreditUrl">{{ stopwatch.challenge.photoCredit }}</a>
  </p>
  <p>
    <a mat-flat-button [routerLink]="'/'" [mat-dialog-close]="">אתגרים אחרים</a>
    &nbsp;
    <button mat-flat-button [mat-dialog-close]="" color="accent" cdkFocusInitial>קדימה!</button>
  </p>
</div>
